.bannerr {
	color: white;
	object-fit: contain;
	height: auto;
	margin-left: 150px;
	background-size: cover;
	background-position: center top;
}

.bannerr__contents {
	margin-left: 20px;
	padding-top: 140px;
}
.bannerr__title {
	font-size: 3 rem;
	font-weight: 800;
	padding-bottom: 0.3rem;
}
.bannerr__description {
	width: 45rem;
	line-height: 1.3;
	padding-top: 1rem;
	font-size: 0.8rem;
	max-width: 360px;
	height: 80px;
}
.bannerr__button {
	cursor: pointer;
	color: #fff;
	outline: none;
	border: none;
	font-weight: 700;
	border-radius: 0.2vw;
	padding-left: 2rem;
	padding-right: 2rem;
	margin-right: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	background-color: rgba(51, 51, 51, 0.5);
}
.bannerr__button:hover {
	color: #000;
	background-color: #e6e6e6;
	transition: all 0.2s;
}
.bannerr__fadeBottom {
	height: 6.4rem;
	margin-left: -32px;
	background-image: linear-gradient(
		180deg,
		transparent,
		rgb(37, 37, 37, 0.61),
		#111
	);
}

.banner_static {
	display: flex;

	width: 150px;
	margin-top: 25px;
}
.year {
	color: rgb(29, 233, 29);
}
.ranking {
	color: yellow;
	cursor: default;
}
.language {
	text-transform: uppercase;
}

.search {
	cursor: pointer;
}
@media (max-width: 576px) {
	.search {
		display: none;

		margin: 0;
		padding: 0;
		width: 10px;
	}
	.bannerr {
		margin: 0px;

		margin-left: 0px;
		background-position: center center;
		height: 450px;
	}
	.bannerr__description{width: 200px;
	font-size: 12px;}
}
